<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logback.logDirectory}/rf-tools-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- one month of logs -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PID} %d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] %logger ->
				%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>WARN</level>
        </filter>
		<encoder>
			<charset>${console.encoding:-${file.encoding}}</charset>
			<pattern>%d{HH:mm:ss.SSS} %level [%t] -> %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="fr.gaellalire.pdf_tools" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
